#container{
    display:grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10vh 90vh 10vh auto auto 30vh 20vh;
    grid-template-areas:
    'hd nav nav'
    'txt txt txt'
    'tit tit tit'
    'art1 art1 img2'
    'img3 art2 art2'
    'knapp knapp knapp'
    'ft ft ft';
    margin: 0%;
    background-image: url("/img/Bakgrund.png");
    background-position: bottom;
    background-position: 0px 80px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
body{
    margin: 0%;
    overflow-x: hidden;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    
}
header{
    grid-area: hd;
    display: flex;
    background-color: #e74c3c;
    color: black;
    flex: 1;
    align-items: center;
    justify-content: ;
    padding: 0px;
    border: 10px solid;
    border-color: #e74c3c;
    margin: 10px;
    margin-right: auto;
    padding-right: 0px;
    border-radius: 10px;
}
header img{
    width: 50px;
}
header h2{
    font-weight: 100;
}
header .logg{
    background-color: #e74c3c;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    transition: linear 0.1s;
}
header .logg:hover{
    background-color: #e74c3c;
    padding: 8px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    margin: 7px;
}
header .reg{
    background-color: black;
    text-decoration: none;
    color: #e74c3c;
    padding: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    transition: linear 0.1s;
}
header .reg:hover{
    background-color: #black;
    padding: 8px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    margin: 7px;
}


nav{
    display: flex;
    grid-area: nav;
    width: 30vw;
    display: flex;
    margin-left: auto;
     
   
    

}
header h2{
    margin-right: 20px;
}
nav a {
    background-color: #e74c3c;
    color: black;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* border: 10px solid; */
    border-color: #e74c3c;
    margin: 10px;
    border-radius: 10px;
    font-size: 2rem;
    transition: linear 0.1s;
    text-decoration: none;
    



}
nav a img{
    width: 50px;
}

nav a:hover{
    background-color: #de5b4e;
    border-color: #de5b4e;
    padding: 15px;
    margin: 5px;
    transition: linear 0.1s;
}


.tit {
    display: flex;
  grid-area: tit;
  background: #e74c3c;
  padding-left: 10px; 
  border: 0px solid;
  border-color: #e74c3c;
  border-radius: 10px;
  width: 30vw;
  margin-left: 30px;
  padding-top: 0px;
  padding-bottom: 00px;
  font-size: 2rem;
  align-items: center; 
}

.art1{
    grid-area: art1;
    background: #e74c3c;
    padding: 0px;
    border: 10px solid;
    border-color: #e74c3c;
    margin: 30px;
    border-radius: 10px;
    font-size: 1rem;
    
}
.img2{
    grid-area: img2;
    background: #e74c3c;
    padding: 0px;
    border: 10px solid;
    border-color: #e74c3c;
    margin: 30px;
    border-radius: 10px;
    
}
.img2 img{
    width: 100%;
    border-radius: inherit;
}

.img3 img{
    width: 100%;
    border-radius: inherit;
    
}
.img3{
    grid-area: img3;
    background: #e74c3c;
    padding: 0px;
    border: 10px solid;
    border-color: #e74c3c;
    margin: 30px;
    border-radius: 10px;
   
}
.art2{
    grid-area: art2;
    background: #e74c3c;
    padding: 0px;
    border: 10px solid;
    border-color: #e74c3c;
    margin: 30px;
    border-radius: 10px;
    font-size: 1rem;
    
}
footer{
    grid-area: ft;
    background: grey;
    margin-top: 5vh;
    flex: 1;
    text-align: center;
    text-justify: center;
    padding-left: 20vw;
    padding-right: 20vw;
    
}

.finbild{
    width: 100%;
    align-self: end;
}

.knapp{
    grid-area: knapp;
    display: flex;
    width: 50vw;
    justify-content: center;
    align-content: center;
    margin: auto;
}
.knapp a{
    background-color: #e74c3c;
    color: black;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* border: 10px solid; */
    border-color: #e74c3c;
    margin: 10px;
    border-radius: 10px;
    font-size: 2rem;
    transition: linear 0.1s;
    text-decoration: none;
}
.knapp a:hover{
    background-color: #de5b4e;
    border-color: #de5b4e;
    padding: 15px;
    margin: 5px;
    transition: linear 0.1s;
}
.knapp img{
    width: 50px;
}

.txt1{
    grid-area: txt;
    display: flex;
    
}
.txt1 .textbubbla1 {
    
    position: relative;
    display: inline-block;
    border: 3px solid #e74c3c;
    background-color: #e74c3c;
    border-radius: 35px;
    color: white;
    margin-bottom:  auto;
    margin-left: 13vw;
    margin-top: 15vh;
    padding: 10px;
    font-size: 2rem;
}
  
.txt1 .textbubbla1 .textbubblatext1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 0;
    width: 300px;
    height: fit-content;
    background-color: white;
    color: black;
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    padding: 5px;
    padding-bottom: 10px;
    position: absolute;
    z-index: 1;
    top: -90px;
    left: -140%;
    transition: opacity 0.3s ease-in-out; 
    font-size: 1rem;
}
  
.textbubbla1:hover .textbubblatext1 {
    opacity: 1;
}
.txt2{
    grid-area: txt;
    display: flex;
    
}
.txt2 .textbubbla2 {
    
    position: relative;
    display: inline-block;
    border: 3px solid #e74c3c;
    background-color: #e74c3c;
    border-radius: 35px;
    color: white;
    margin-bottom:  auto;
    margin-left: 70vw;
    margin-top: 23vh;
    padding: 10px;
    font-size: 3rem;
}
.txt2 .textbubbla2 .textbubblatext2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 0;
    width: 300px;
    height: fit-content;
    background-color: white;
    color: black;
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    padding: 5px;
    padding-bottom: 10px;
    position: absolute;
    z-index: 1;
    top: -85px;
    left: -45%;
    transition: opacity 0.3s ease-in-out; 
    font-size: 1rem;
  }
  .textbubbla2:hover .textbubblatext2 {
    opacity: 1;
}


.txt3{
    grid-area: txt;
    display: flex;
    
}
.txt3 .textbubbla3 {
    
    position: relative;
    display: inline-block;
    border: 3px solid #e74c3c;
    background-color: #e74c3c;
    border-radius: 35px;
    color: white;
    margin-bottom:  auto;
    margin-left: 30vw;
    margin-top: 65vh;
    padding: 10px;
    font-size: 2.5rem;
}
.txt3 .textbubbla3 .textbubblatext3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 0;
    width: 300px;
    height: fit-content;
    background-color: white;
    color: black;
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    padding: 5px;
    padding-bottom: 10px;
    position: absolute;
    z-index: 1;
    top: -100px;
    left: -13%;
    transition: opacity 0.3s ease-in-out; 
    font-size: 1rem;
  }
  .textbubbla3:hover .textbubblatext3 {
    opacity: 1;
}